/* Custom Stylesheet */
body {
    font-family: Raleway;
    border: 1px solid #003300;
}


a {
    text-decoration: none;
    color: #0099cc;
    font-weight: bold;
    margin: 0px 100px;
    display:inline-block;
}

nav {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    position: fixed;
    top:0;
   
}

p {
    font-family: Lato;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: .8em;
    font-weight: 900;

}
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.blogheader {
    width:100%;
}


h2, .date {
    text-transform: uppercase;
    color:#004d66;
    font-weight: bold;
   
}
.about{
    margin-top: 100px;
}
#cowboy {
    margin: 20px 0px;
}

li {
    color: #0099cc;
    font-weight: bold;
    font-size:15px;
    letter-spacing: .1em;
    margin: 10px 0px;
}
ul {
    margin-left: -25px;
}


.top {
    height: 120px;
    background: #ccf2ff;
    display:flex;
    justify-content:center;
    align-items: center;
    
    
}
.bottom {
    background:#ccf2ff;
    border-top: 1px solid #003300;
    text-align: center;
    height: 40px;
    padding-top: 15px;
}

i {
    height: 10px;
    margin:0px 10px;
    font-size: 30px;
}

header {
    margin-top: 10px;
    text-align: center;
    

}
main {
    margin:30px 50px 30px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    
    

}
.flex1 {
   width: 80%;
   
}
.flex2 {
  width:40%
}   

img {
    width:80%;
}
div p {
    width:80%;
}




