/* Custom Stylesheet */
body {
    font-family: Raleway, sans-serif;
    border: 0.0625em solid #003300;    
}
a {
    text-decoration: none;
    color: #0099cc;
    font-weight: bold;
    margin: 0em  6.25em;
    display:inline-block;
}
header > nav {
    text-align: center;
    margin-bottom: 0.9375em;
    position: fixed;
    top:0;
    background:white;
    z-index: 1;
    width:100%;
}

p {
    font-family: Lato, sans-serif;
}
.container {
   position: relative;   
}
.imagetxt {
    position: absolute;
    top:40%;
    left:25%;
    color:white; 
}
h1 {
    font-family: Raleway, sans-serif;
    font-size:2.25em;
    letter-spacing: .4em;
}
h2, .date {
    text-transform: uppercase;
    color:#004d66;
    font-weight: bold;  
}
.about{
    margin-top: 6.25em;
}
#cowboy {
    margin: 1.25em 0em;
}
li {
    color: #0099cc;
    font-weight: bold;
    font-size:0.9375em;
    letter-spacing: .1em;
    margin: 0.625em 0px;
}
ul {
    margin-left: -1.5625em;
}
.top {
    height: 7.5em;
    background: #ccf2ff;
    display:flex;
    justify-content:center;
    align-items: center;   
}
.bottom {
    background:#ccf2ff;
    border-top: 0.0625em solid #003300;
    text-align: center;
    height: 2.5em;
    padding-top: 0.9375em;
}

.middle {
    background:#ccf2ff;
    text-align: center;
}

i {
    height: 0.625em;
    margin:0em 0.625em;
    font-size: 1.875em;
}

header {
    margin-top: 0.625em;
    text-align: center;
}
main {
    margin:1.875em 3.125em 1.875em 6.25em;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
.flex1 {
   width: 80%;
   
}
.flex2 {
  width:40%
}   

img {
    width:80%;
}

header > section > img {
    width:100%;
}
div p {     
    width:80%;
}

input {
    margin-bottom: 2.5em;
}
button {
    background: #ccf2ff;
    border: 0.0625em solid #003300; 
    margin-left:1.25em;
}

a:hover {
    color: black;
}

button:hover {
    background-color:  #4d4d4d;
    color: white;
    transition-duration: 1s;
}

article {
    width: 80%;
    margin-left:9.375em;
    margin-bottom:5em;

}

article h1 {
    font-family: Raleway, sans-serif;
    font-size: 1.25em;
    letter-spacing: normal;
    text-align: center;
    color: #004d66;
  
}

form {
    display:grid;
    grid-template-areas: 
        "name email"
        "message message"
        "submit submit";
    grid-gap: 0.75em;
    color: #004d66;
    width: 100%;
    height: auto;
    
}
input[name="name"] {
    grid-area: name;
  
    
    
}
input[name="email"] {
    grid-area: email;
    
}
textarea {
    grid-area: message;
 
}
input[type="submit"] {
    grid-area: submit;
    background: white;
    font-family: Raleway, sans-serif;
    color: #004d66;
    font-weight: bold;

}

form input, form textarea {
    border: 0.09375em solid #004d66;
    padding: 0.3125em;
    margin-bottom: -0.4375em;
   
}
form input::placeholder, form textarea::placeholder {
    color: lightslategray;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size:0.6875em;
}
header > section > img {
    
    width: 100%;
    height: auto;
      
}

@media only screen and (max-width: 560px) {
    main {
        margin: auto;
        display:block;
        
    }
    body {
        border:none;
        text-align:center;
        margin-left:70px;
    }
    h2, .date {
        text-align:center;
        font-size:12px;
        width:60%;
    }

    .imagetxt {
        position: absolute;
        top:40%;
        left:-10%;
         
        font-size:15px;
    }
    header nav {
        visibility: hidden;
    }
    #headerimg {
        margin-left:-68px;
        width:124.5%;
        height: 200px;
        position:relative;
    }
    .hamburger{
        position: absolute;
        z-index:1;
        left: 1%;
    }
    .hamburger span {
        background: white;
        width:40px;
        height:5px;
        display: block;
        margin-top:3px;
        margin-bottom:3px;
        border-radius: 10px
    }
    h2, .date {
        text-transform: uppercase;
        color:#004d66;
        font-weight: bold;  
        text-align: left;

    }
    img {
        margin-right:30%;
        width:110%;
    }
    div p {     
        width:100%;
        text-align: left;
    }
    .flex2 {
        width:80%
      }  

    .about{
        margin-top: 6.25em;
    }
    article {
        width: 80%;
        margin-left:0em;
        margin-bottom:5em;
        margin-top:3em;
    
    }
    
    form {
        display:grid;
        grid-template-areas: 
            "name"
            "email"
            "message"
            "submit";
        grid-gap: 0.75em;
        color: #004d66;
        width: 100%;
        height: auto;
        
    }
    .top {
        height: 7.5em;
        background: #ccf2ff;
        display:flex;
        justify-content:center;
        align-items: center;   
    }
    .middle {
        background:#ccf2ff;
        text-align: center;
    }
    button {
        margin-bottom: 1em;
    }
    .bottom {
        background:#ccf2ff;
        border-top: 0.0625em solid #003300;
        text-align: center;
        height: 2.5em;
        padding-top: 0.9375em;
    }
    footer {
        margin-right:4em;
        margin-bottom:5em;
    }   


}




